[submodule "vc-betterForums"]
	path = vc-betterForums
	url = https://github.com/Davr1/vc-betterForums
[submodule "vc-sidebarchat"]
	path = vc-sidebarchat
	url = https://github.com/Masterjoona/vc-sidebarchat
[submodule "messageListeningCover"]
	path = messageListeningCover
	url = https://plugins.nin0.dev/messageListeningCover/
[submodule "betterForwardMeta"]
	path = betterForwardMeta
	url = https://github.com/andrewkornder/betterForwardMeta
[submodule "Global-Search"]
	path = Global-Search
	url = https://github.com/deanxbox/Global-Search
[submodule "attachmentSnowflakeInfo"]
	path = attachmentSnowflakeInfo
	url = https://github.com/andrewkornder/attachmentSnowflakeInfo
[submodule "vc-auto-responder"]
	path = vc-auto-responder
	url = https://github.com/andrewkornder/vc-auto-responder
[submodule "vc-wordCount"]
	path = vc-wordCount
	url = https://github.com/andrewkornder/vc-wordCount
[submodule "vc-copyMessageDump"]
	path = vc-copyMessageDump
	url = https://github.com/andrewkornder/vc-copyMessageDump
